.create-nutrition-redirect {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.record-link {
    text-decoration: none;
    color: white;
}

.record-nutrition {
    display: flex;

}
.overview-title {
    display: flex;
    font-size: 56px;
}

.record-nutrition-overview-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: left;
    width: 180px;
    vertical-align: top;
    padding: calc(.375rem - 3px) 60px calc(.375rem - 3px) 12px;
    background-color: rgb(15, 98, 254);
    font-size: 14px;
    letter-spacing: 0.16px;
    min-height: 32px;
    line-height: 1.29;
    color: #fff;
    font-weight: 400;
    margin-right: 1%;
    transition: background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);
}

.record-nutrition-overview-btn:hover  {
    background-color: #0353e9;
}
