.nutrition-form {
    margin-top: 8%;
}


.record-nutrition-title-container {
    display: flex;
    justify-content: center;
}

.record-nutrition-title {
    font-size: 48px;
}

.form-container {
    display: block;
    text-align: center;
}

.form-input-container {
    margin:0;
    margin-bottom: 12px;
}

.form-input {
    
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    color: rgb(9, 30, 66);
    cursor: text;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    line-height: 1.42857; 
    padding: 8px 6px;
    height: 48px;
    width: 250px;
    margin: 10;


}


.form-input:hover{
    background-color: rgb(235, 236, 240);
}
.form-input:focus{
    background-color: rgb(255, 255, 255);
    border-color: rgb(76, 154, 255);
}


.submit-error{
    color: red;
}



.submit-nutrition {
    

    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: left;
    width: 180px;
    vertical-align: top;
    padding: calc(.375rem - 3px) 60px calc(.375rem - 3px) 12px;
    background-color: rgb(15, 98, 254);
    font-size: 14px;
    letter-spacing: 0.16px;
    min-height: 32px;
    line-height: 1.29;
    color: #fff;
    font-weight: 400;
    margin-top: 1%;
    transition: background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);
    



}

.submit-nutrition:hover  {
    background-color: #0353e9;
}