.nutrition-card {
    display: inline-block;
    margin-bottom: 3%;
    background-color: rgb(112, 110, 110);
    width: 300px;
    height: 200px;
    border-radius: 10%;
    margin-right: 5%;
}


.nutrition-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-footer {
    margin-left: 5%;
    align-items: center;
}

.card-img {
    width: 40px;
    height: 40px;
    border-radius: 80%;
    margin-right: 5%;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}



.nutrition-info-container {
    display: flex;
}


.card-calories-container, .card-quantity-container {
    display: flex;
    align-items: center;
    margin-right: 5%;
}
