.summary-stat {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 3%;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: white;    
    border-radius: 5%;    
    width: 220px;
    height: 200px;

    margin-right: 5%;
}


.stat-label, .primary-statistic, .secondary-statistic {
    display: flex;
    justify-content: center;
}