.registration-form {
    margin-top: 15%;
    justify-content: center;
    margin-left: 45%;
}

.last-name-container {
    margin-left:1%
}

.submit-registration {
    margin-top: 1%;
}

.login-redirect {
    margin-top: 5%;
}